{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": ["*.php"],
      "options": {
        "parser": "php"
      }
    },
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "parser": "css"
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "parser": "html"
      }
    },
    {
      "files": ["*.js"],
      "options": {
        "parser": "babel"
      }
    }
  ]
}
